body {
	background-color: #F6F4F0;
	margin: 0;
}

nav {
	background-color: #52BAD5;
	margin: 0 auto;
	box-shadow: 0px 0px 5px #444;
	padding: 1px;
	margin-bottom: 15px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 125%;
}

.container {
	margin: 8px;
}

.entry {
	background: -webkit-gradient(linear,left bottom, left top, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  display: block;
  padding: 5px;
	width: 200px;
	height: 300px;
	font-family: Tahoma, Geneva, sans-serif;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  text-align: center;
  float: left;
  margin: 5px;
}

.entry hr {
	color: black;
}

input {
	width:180px;
	margin: auto;
	display:block;
	margin-top: 2px;
	border: 1px solid #999;
	height: 25px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-size: 17px;
	padding: 5px;
}

.calc_button {
width:100px;
background:#09C;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
font-size: 115%;
height:30px;
margin-top: -10px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1px solid #999;
}

.calc_button:hover {
background:#fff;
color:#09C;
}